<!DOCTYPE html>
<html ng-app="hotelApp">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOTELS RESERVES</title>
    <meta name="author" content="Sebastian">

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/chosen/chosen.min.css" rel="stylesheet">
    <link href="bower_components/chosen/chosen-sprite.png" rel="image_src">
    <link href="style/main.css" rel="stylesheet">

    <base href="/enfasis-3-reservas-hoteleras/">
</head>
<body>
<!--navbar-->
<nav id="header" class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#app-header">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                class="icon-bar"></span><span
                class="icon-bar"></span><span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="app-header">
        <ul class="nav navbar-nav">
            <li class="active">
                <a ui-sref="home" href="">J&S Reserves</a>
            </li>
            <li>
                <a ui-sref="hotelList" href="">Hoteles</a>
            </li>
            <li>
                <a ui-sref="contact" href="">Contacto</a>
            </li>
            <li>
                <a ui-sref="who-are-we" href="">Quienes Somos</a>
            </li>
        </ul>

        <form class="navbar-form navbar-right" ng-controller="hotelListController as hotelListController">
            <div class="form-group">
                <b>Busca tu hotel:</b>
            </div>
            <div class="form-group" style="width: 250px">
                <select id="selectChosen"
                        chosen
                        option="hotelList"
                        ng-model="data.hotelList"
                        ng-options="hotelList.name for hotelList in hotelListController.hotelList"
                        data-placeholder="Seleccione un Hotel...">
                </select>
            </div>
            <button type="submit" class="btn btn-success btn-search"
                    ng-click="hotelListController.idHotel(data.hotelList.id)"
                    ui-sref-opts="{reload: true}">Buscar</button>
        </form>

    </div>
</nav>
<!--ui-view-container-->
<div class="container-fluid global-padding">
    <div class="row">
        <div ui-view>
        </div>
    </div>
</div>
<!--footer-->
<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">Medellin - Colombia 2015</p>
    </div>
</footer>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<script src="lib/adityasharat-angular-chosen-9b86312/angular-chosen.js"></script>


<!--my code-->
<script src="app/app.js"></script>
<script src="app/home/home.controller.js"></script>
<script src="app/home/home.service.js"></script>
<script src="app/home/home.js"></script>

<script src="app/hotel/hotel.controller.js"></script>
<script src="app/hotel/hotel.service.js"></script>
<script src="app/hotel/hotel.js"></script>

<script src="app/hotel/room/room.controller.js"></script>
<script src="app/hotel/room/room.service.js"></script>

<script src="app/reserve/reserve.controller.js"></script>
<script src="app/reserve/reserve.service.js"></script>
<script src="app/reserve/reserve.js"></script>

<script src="app/hotelList/hotelList.controller.js"></script>
<script src="app/hotelList/hotelList.service.js"></script>
<script src="app/hotelList/hotelList.js"></script>

<script src="app/contact/contact.controller.js"></script>
<script src="app/contact/contact.service.js"></script>
<script src="app/contact/contact.js"></script>

<script src="app/whoAreWe/waw.controller.js"></script>
<script src="app/whoAreWe/waw.service.js"></script>
<script src="app/whoAreWe/waw.js"></script>

<script src="app/directive/imageList/imageList.js"></script>
<script src="app/appCrossService/reserveFactory.js"></script>

<script src="app/directive/rating/rating.js"></script>
<script src="app/directive/modal/modalDirective.js"></script>

<script src="app/filter/price.js"></script>

</body>
</html>