<div class="col-md-6">
    <h1>FAQ's</h1>
    <div ng-repeat="FAQ in contactController.contact">
        <h2>{{FAQ.title}}</h2>
        <p>{{FAQ.content}}</p>
    </div>
</div>
<div class="col-md-6">
    <h1>Comunicate con nostros</h1>
    <div><img ng-src="{{contactController.calls.img}}" class="col-md-4"></div>
    <div class="col-md-8">
    <p><b>Local:</b>{{contactController.calls.Local}}</p>
    <p><b>Internacional:</b>{{contactController.calls.international}}</p>
    </div>
</div>
