hr{
  margin: 10px 0 10px 0;
}
.global-padding {
  padding-left: 4%;
  padding-right: 4%;
}
.indi-carousel {
  width: 12px !important;
  height: 12px !important;
  margin: 2px !important;
  border: 2px solid #ffffff !important;
}
.padding-navbar {
  padding-bottom: 5%;
  padding-top: 5%;
  margin-right: 10px;
}
.padding-input-navbar {
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  margin-right: 10px;
}
.no-margin {
  margin-bottom: 0;
  margin-top: 0;
}
.btn-search{
  height: 25px;
  padding: 0 15px 0 15px;
  margin: 4px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

.text-muted {
  margin: 10px 0 10px 0;
}

/*
------angulat alt-------- */
.angucomplete-dropdown {
  overflow-y: auto;
  max-height: 200px;
}