button {
  color: #607D8B;
}

.social-icon {
    width: 50px;
    height: 50px;
}

.modal-body {
  img {
    width: 850px;
    height: 410px;
    border-radius: 5%;
  }

}

.col-md-12 {
  text-align: center;
}

.img-hotel {
  width: 400px;
  height: 150px;
}

.item {
  img {
    width: 550px;
    height: 200px;
    border-radius: 5%;
    margin-right: 100px;

  }
}


