<div ng-controller="hotelController as hotelController">
    <div ng-repeat="hotel in hotelController.hotels">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 header">
                    <div>
                        <h1>{{hotel.name}}</h1>
                        <rating star="hotel.ranking"/>
                        <a id="modal-436211" href="#modal-container-436211" role="button" class="btn" data-toggle="modal">
                            <h3>Descripcion</h3>
                        </a>
                        <div class="modal fade" id="modal-container-436211" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> </button>
                                        <h4 class="modal-title" id="myModalLabel2">
                                            Descripcion
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        {{hotel.description}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Cerrar
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <a href="{{hotel.facebook}}"><img class="social-icon" src="images/icons/facebook.png"></a>
                        <img class="social-icon" src="images/icons/instagram.png">
                        <img class="social-icon" src="images/icons/twitter.png">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">

                            <hr>
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators" ng-repeat="datGallery in hotel.gallery">
                                    <li data-target="#myCarousel" data-slide-to="{{datGallery.length}}" ></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item" ng-repeat="datGallery in hotel.gallery" ng-class="{active : $first}">
                                        <img class="img-carousel" src={{datGallery.url}} alt="hotel-image">
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                        <hr><hr>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="datGallery in hotel.gallery">
                                <a id="modal-436212" href="#modal-container-{{datGallery.id}}" role="button" class="btn" data-toggle="modal">
                                    <img class="img-responsive img-rounded list-img img-hotel" src={{datGallery.url}}>
                                </a>
                                <div class="modal fade" id="modal-container-{{datGallery.id}}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="{{datGallery}}">
                                                    {{hotel.name}}
                                                </h4>
                                            </div>
                                            <div class="modal-body" >
                                                <img src={{datGallery.url}}>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <hr>

                    </div>
                </div>




                <div class="col-md-4">
                    <div ng-include="'app/hotel/room/room.html'"></div>
                </div>

            </div>
        </div>
   </div>
</div>