button{color:#607D8B}.social-icon{width:50px;height:50px}.modal-body img{width:850px;height:410px;border-radius:5%}.col-md-12{text-align:center}.col-md-12 .reserva{text-align:center;border:2px solid #607D8B}.item img{width:550px;height:200px;border-radius:5%;margin-right:100px}