<div class="row">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li class="indi-carousel" data-target="#carousel" data-slide-to="{{$index}}"
                ng-repeat="hotel in homeController.array" ng-class="{active : $first}"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-repeat="hotel in homeController.array" ng-class="{active : $first}">
                <img class="img-carousel" ng-src="{{hotel.url}}">
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!--Hotel images-->
        <div class="col-md-4 col-sm-6 col-xs-12"  ng-repeat="hotel in homeController.data">
            <a href="#header" ng-click="homeController.goToHotel(hotel.id)">
            <imgdirective image="hotel.mainImg" name="hotel.name"/>
            </a>
            <rating star="hotel.ranking"/>
        </div>
    </div>
</div>
