.img-carousel{
  background-color: #000000;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 0 !important;
  @media screen and (max-width: 500px) {
    height: 300px !important;
  }
  @media screen and (min-width: 501px) {
    height: 400px !important;
  }
  @media screen and (min-width: 750px) {
    height: 550px !important;
  }
}