.inline-block{
  display: inline-block;
}
.no-padding{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.hr-thumbnail{
  margin-top: 10px;
  margin-bottom: 1%;
}
.btn-max-width{
  width: 100%;
  margin-top: 12%;
}
.img-border-radius{
  border-radius: 5px;
}
.img-carousel-room{
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
}
.text-middle{
  margin: 7px 0 7px 0;
}