<h3><b>Habitaciones</b></h3>
<div ng-controller="roomController as roomController">

    <div class="row">
        <div class="col-sm-6 col-md-12" ng-repeat="room in roomController.rooms">
            <div class="inline-block thumbnail">
                <h4><b>{{room.name}}</b></h4>
                <hr class="hr-thumbnail"/>
                <a href="" ng-click="roomController.toggleModal(room)">
                    <img ng-src="{{room.gallery[0]}}" alt="imgage room" class="col-md-6 no-padding img-border-radius"
                            style="height: 100px">
                </a>
                <div class="caption col-md-6" style="padding-bottom: 0">
                    <div class="text-middle"><b>Precio:</b> {{room.price}}</div>
                    <div class="text-middle">{{room.price | price}}</div>
                    <div><a href="#" class="btn-max-width btn btn-primary" role="button"
                            ng-click="roomController.idRoom(room.id)" ui-sref="reserve">Reservar</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRoom" tabindex="-1" role="dialog" aria-labelledby="modalRoomLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalRoomLabel">{{roomController.roomCarousel.name}}</h4>
                </div>
                <div class="modal-body">
                    <!--Carousel-->
                    <div id="carouselRoom" class="carousel slide" data-ride="carouselRoom">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li class="indi-carousel" data-target="#carouselRoom" data-slide-to="{{$index}}"
                                ng-repeat="roomLi in roomController.roomCarousel.gallery" ng-class="{active : $first}"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item" ng-repeat="roomGallery in roomController.roomCarousel.gallery"
                                 ng-class="{active : $first}">
                                <img ng-src="{{roomGallery}}" alt="image.room" class="img-carousel-room">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carouselRoom" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carouselRoom" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--end carousel-->
                    <div class="modal-footer">
                        <p class="text-justify">{{roomController.roomCarousel.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
