<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <label>
                    Hotel:
                </label>
                <input class="form-control" type="text" value="{{reserveController.reserve.hotel}}" disabled>
                <!--<select class="form-control"
                        ng-options="hotel as hotel.name for hotel in reserveController.reserve.data"
                        ng-model="reserveController.currentHotel"
                        ng-change="reserveController.hotelChange(hotel)">
                    <option value="">{{reserveController.reserve.hotel}}</option>
                </select>-->

                <!-- <select class="form-control">
                     <option ng-repeat="hotel in reserveController.reserve.data"
                             ng-selected="hotel.name == reserveController.reserve.hotel"
                             >{{hotel.name}}
                     </option>
                 </select>-->
                <imgdirective image="reserveController.reserve.hotelImg"/>
            </div>
            <div><label>Ubicacion del hotel: </label>{{reserveController.reserve.location}}</div>
        </div>
        <div class="col-md-6">
            <div>
                <label>
                    Cuarto:
                </label>
                <input class="form-control" type="text" value="{{reserveController.reserve.roomName}}" disabled>
                <!--<select class="form-control">
                    <option ng-repeat="room in reserveController.reserve.hotelRooms"
                            ng-selected="room.name == reserveController.reserve.roomName">{{room.name}}
                    </option>
                </select>-->
                <imgdirective image="reserveController.reserve.roomImg"/>
            </div>
            <div><label>Descripcion del cuarto: </label> {{reserveController.reserve.roomDesc}}</div>
        </div>

        <div class="col-md-3">
            <br>
            <br>
            <hr>
            <div>
                <label>Fecha desde:</label>
                <input class="form-control" type="date" ng-model="reserveController.date"
                       ng-change="reserveController.newMinDate()"
                       value="{{reserveController.date.toISOString().substring(0, 10)}}"
                       min="{{reserveController.minDate.toISOString().substring(0, 10)}}">
            </div>
        </div>
        <div class="col-md-3">
            <br>
            <br>
            <hr>
            <div>
                <label>Fecha hasta: </label>
                <input class="form-control" type="date" ng-model="reserveController.maxDate"
                       ng-change="reserveController.newMinDate()"
                       value="{{reserveController.maxDate.toISOString().substring(0, 10)}}"
                       min="{{reserveController.date.toISOString().substring(0, 10)}}">
            </div>
        </div>

        <div class="col-md-6">
            <br>
            <br>
            <hr>
            <label for="foods"> Comidas:</label>
            <select id="foods" name="foods" class="form-control" name="repeatSelect" id="repeatSelect"
                    ng-model="reserveController.meal"
                    ng-change="reserveController.food()"
                    ng-options="meal.name for meal in reserveController.meals track by meal.value">
            </select>
            <!--<select class="form-control">
                <option ng-click="reserveController.food(10000)" value="1">Desayuno</option>
                <option ng-click="reserveController.food(20000)" value="2">Desayuno y Almuerzo</option>
                <option ng-click="reserveController.food(30000)" value="3">Todas</option>
            </select>-->
        </div>
        <div class="col-md-3">
            <br>
            <hr>
            <div><label>Precio por dia:</label>{{reserveController.dayPrice}}</div>
            <div><label>Total a pagar:</label>{{reserveController.totalPrice}}</div>
        </div>
        <div class="col-md-3">
            <br>
            <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">COMPRAR
                AHORA
            </button>
        </div>
        <div class="col-md-9">
            <!-- Small modal -->
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h1 class="modal-title">j&S Reserves</h1>
                        </div>
                        <div class="modal-body">
                            <p><label>Fecha:</label><br>{{reserveController.minDate.getUTCDate() +"/"+
                                reserveController.minDate.getUTCMonth()
                                +"/"+reserveController.minDate.getUTCFullYear()}}
                            </p>
                            <p><label>Fecha de inicio de la reserva:</label><br>{{reserveController.date.toISOString()}}</p>
                            <p><label>Fecha del final de la reserva:</label><br>{{reserveController.maxDate.toISOString()}}</p>
                            <p><label>Hotel de la reserva:</label><br>{{reserveController.reserve.hotel}}</p>
                            <p><label>Cuarto de la reserva:</label><br>{{reserveController.reserve.roomName}}</p>
                            <p><label>Comidas:</label><br>{{reserveController.meal.name}}</p>
                            <p><label>Total pagado:</label><br>{{reserveController.totalPrice}}</p>
                            <p><label>Comprobante:</label><br>{{reserveController.random()}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>