<div class="color-rating">
    <span class="glyphicon glyphicon-star"  ng-repeat="stars in rating track by $index"></span>
    <span class="glyphicon glyphicon-star-empty"  ng-repeat="nostars in norating track by $index"></span>
</div>