<div class="row">

    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="hotel in hotelListController.hotelList">
            <div class="inline-block thumbnail">
                <h4 class="text-center"><b>{{hotel.name}}</b></h4>
                <a href="#" role="button" ui-sref="hotel" ng-click="hotelListController.idHotel(hotel.id)">
                    <imgdirective image="hotel.mainImg"/>
                </a>
                <div class="caption">
                    <div><b>Lugar:</b> {{hotel.location}}</div>
                    <div><b>Puntuacion:</b><rating star="hotel.ranking"/></div>
                    <div><b>Sitio Web:</b> <a href='{{hotel.website}}'>{{hotel.name}}</a></div>
                    <div><a href='#' ui-sref="hotel" ng-click="hotelListController.idHotel(hotel.id)">Mas informacion...</a></div>
                </div>
            </div>
        </div>
    </div>

</div>